-
  var siteName = 'Crystal';
  var viewportSmallMaxWidth = '(max-width: 767px)';
  var viewportMediumMinWidth = '(min-width: 768px)';
  var viewportMediumMaxWidth = '(max-width: 1279px)';
  var viewportLargeMinWidth = '(min-width: 1280px)';
  var fontFamilyName = 'gothampro';
  var fontWeights = [
    'regular',
    'medium',
    'bold'
  ];
  var mainElement = 'crystal---page-main__';

block variables

include _i_data.pug
include _i_components.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= siteName
    meta(name='description' content='Портфолио студии WayToStart: Столичная Водка')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='cmsmagazine' content='cdc79537f1d9f113c73cd2fd46ca0125')
    meta(name='author' content='Веб-студия WayToStart')
    each value in fontWeights
      link(rel='preload' href=`fonts/${fontFamilyName}-${value}.woff2` as='font' crossorigin)
    link(rel='stylesheet' href='css/main.min.css')
  body.crystal---page
    header.crystal---page-header.crystal---page__header
      .crystal---page-header__container.crystal---aligner
        ul.crystal---page-header__list
          li.crystal---page-header__item UI / UX
          li.crystal---page-header__item 2018
          li.crystal---page-header__item
            span.crystal---page-header__string WayToStart
            = ' studio'
        .crystal---logo.crystal---page-header__logo
          picture.crystal---logo__image-wrapper
            source(
              media=viewportMediumMinWidth
              srcset='img/logo@388.png'
            )
            img.crystal---logo__image(
              src='img/logo@300.png'
              alt='Столичная водка'
            )
          h1.crystal---visually-hidden Столичная водка
    main.crystal---page-main.crystal---page__main
      block page-main
    footer.crystal---page-footer.crystal---page__footer
      p.crystal---page-footer__legend Спасибо за просмотр
    script(src='js/picturefill.js')
    block scripts
