mixin crystal-heading(heading_options)
  -
    const {
      generalModifier,
      specialModifier,
      mixedClasses,
      text
    } = heading_options;
    const picturesMainlineData = [20, 3];
    const textblockMainlineData = {
      'task': [5, 1],
      'design': [4, 1],
      'development': [5, 1],
    };
  header.crystal-heading(class=[
    `crystal-heading--${generalModifier}`,
    `crystal-heading--${generalModifier}_${specialModifier}`,
    mixedClasses,
  ])
    .crystal-heading__container
      mixin crystal-heading__item(headingItem_options)
        - const { mark, text } = headingItem_options;
        if mark === 'mainline'
          li.crystal-heading__item
            h2.crystal-heading__mainline= text
        else
          li.crystal-heading__item= text
      ul.crystal-heading__list
        - let itemAmount, mainlineItemNumber;
        case generalModifier
          when 'textblock'
            -
              [
                itemAmount,
                mainlineItemNumber,
              ] = textblockMainlineData[specialModifier];
          when 'pictures'
            - [itemAmount, mainlineItemNumber] = picturesMainlineData;
        - for (let i = 1; i <= itemAmount; i++)
          if i === mainlineItemNumber
            +crystal-heading__item({ text: text, mark: 'mainline' })
          else
            +crystal-heading__item({ text: text })
